.noteGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;

  right: 0;
  overflow-y: auto;

  padding-right: 5px;

  @media (max-width: 750px) {
    grid-template-columns: repeat(1, 1fr);
  }
}