.modalContent {
  height: 300px;
  width: 450px;

  position: relative;

  @media (max-width: 750px) {
    max-width: 310px;
    max-height: 300px;
  }

  &__title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  &__description {
    word-wrap: break-word;
    padding-bottom: 50px;
  }

  &__btnClose {
    position: absolute;
    top: 0;
    right: 0;

    background: none;

    &:hover {
      > img {
        transform: scale(1.1);
      }
    }

    > img {
      height: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }
}