.noteForm {
  display: flex;
  flex-direction: column;

  position: sticky;
  left: 0;
  top: 0;

  margin-top: 20px;
  margin-bottom: 20px;
  
  > *:not(:last-child) {
    margin-bottom: 15px;
  }

  &__input {
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &__textarea {
    max-width: 744px;
    min-width: 744px;
    max-height: 490px;
    min-height: 180px;

    border: none;

    @media (max-width: 750px) {
      min-width: 350px;
      max-width: 350px;
    }
  }

  &__btnSubmit {
    background-color: #409AB8;
    color: #fff;
    
    border-radius: 6px;
    height: 35px;
  }
}